@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-lg bg-teal-500 px-4 py-2 text-lg text-[white] hover:bg-teal-600  focus:outline-none dark:bg-teal-400 dark:font-medium dark:text-stone-900 dark:hover:bg-teal-200;
  }
  .btn-secondary {
    @apply rounded-lg bg-red-500 px-4 py-2 text-lg text-[white] hover:bg-red-600  focus:outline-none dark:bg-red-400 dark:font-medium dark:text-stone-900 dark:hover:bg-red-200;
  }
  .section {
    @apply my-3 inline-block border-b-4 border-orange-200 font-ibm text-xl font-semibold dark:border-sea-d;
  }
  .subSection {
    @apply mx-auto my-1 block md:max-w-[80%] lg:max-w-[40rem];
  }
  .subTitle {
    @apply inline-block whitespace-nowrap bg-orange-200 px-1 font-semibold text-zinc-700 dark:bg-zinc-700 dark:text-orange-200 md:mx-4;
  }
  .inputField {
    @apply w-full rounded-md border-2 border-neutral-200 p-2 outline-none focus:border-zinc-400 dark:border-transparent dark:bg-[#193754] dark:focus:border-slate-400 dark:focus:bg-[#20466b] sm:p-2.5;
  }
  .placeholder {
    @apply pointer-events-none left-0 py-2.5 pl-5 text-gray-400 duration-500;
  }
  .customField input:valid ~ span,
  .customField input:focus ~ span {
    @apply -translate-y-5 translate-x-0 bg-orange-50 px-2 py-0 text-xs text-zinc-900 dark:bg-black-russ dark:text-slate-200;
  }
}

@layer utilities {
  .logoBox {
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    height: 1.875rem;
    line-height: 1.25rem;
    padding: 0.625rem;
  }
  .logoBox > img {
    transition: 200ms ease;
  }
  .logoBox:hover > img {
    transform: rotate(-35deg);
  }
  html,
  body {
    overflow-x: hidden;
  }
  .inactive {
    pointer-events: none;
    opacity: 0.5;
  }
  .bouncer div {
    width: 20px;
    height: 20px;
    background-color: #2dd4bf;
    border-radius: 50%;
    animation: bouncer 0.3s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
      alternate;
  }
  .bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
  }
  .bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
  }
  @keyframes bouncer {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-30px);
    }
  }
  .circle-background,
  .circle-progress {
    fill: none;
  }
  .circle-background {
    stroke: #ddd;
  }
  .circle-progress {
    stroke: #14b8a6;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .circle-text {
    font-size: 2em;
    font-weight: bold;
    fill: #14b8a6;
  }
  @keyframes progressAnime {
    0% {
      stroke-dashoffset: calc(46.5px * 3.14 * 2);
    }
    100% {
      stroke-dashoffset: calc(46.5px * 3.14 * 2 * (1 - 45 / 100));
    }
  }
  .circle-animate {
    animation: progressAnime 1.5s linear forwards;
  }
}
