@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply text-lg dark:font-medium bg-teal-500 dark:bg-teal-400 text-[white] dark:text-stone-900 hover:bg-teal-600  dark:hover:bg-teal-200 py-2 px-4 rounded-lg focus:outline-none;
  }
  .section {
    @apply font-ibm font-semibold text-xl my-3 inline-block border-b-4 border-orange-200 dark:border-sea-d;
  }
  .subSection{
    @apply md:max-w-[80%] lg:max-w-[40rem] mx-auto my-1 block
  }
  .subTitle {
    @apply md:mx-4 px-1 whitespace-nowrap font-semibold bg-orange-200 text-zinc-700 inline-block dark:bg-zinc-700 dark:text-orange-200
  }
  .inputField {
    @apply w-full p-2 sm:p-2.5 rounded-md border-2 border-neutral-200 dark:border-transparent outline-none dark:bg-[#193754] dark:focus:bg-[#20466b] focus:border-zinc-400 dark:focus:border-slate-400
  }
  .placeholder {
    @apply left-0 py-2.5 pl-5 duration-500 pointer-events-none text-gray-400
  }
  .customField input:valid ~ span,
  .customField input:focus ~ span {
    @apply bg-orange-50 dark:bg-black-russ text-zinc-900 dark:text-slate-200 text-xs translate-x-0 -translate-y-5 py-0 px-2
  }
}

@layer utilities {
  .logoBox {
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    height: 1.875rem;
    line-height: 1.25rem;
    padding: 0.625rem;
  }  
  .logoBox > img {
    transition: 200ms ease;
  }
  .logoBox:hover > img {
    transform: rotate(-35deg);
  }
  .spinner {
    position: absolute;
    left: 0;
    right: 0;
    width: 75px;
    height: 75px;
    border: 6px solid;
    border-radius: 50%;
    @apply border-t-teal-500 border-b-teal-500 border-l-transparent border-r-transparent dark:border-t-teal-400 dark:border-b-teal-400;
    animation: spin 0.5s linear infinite
  }
  .inactive {
    pointer-events: none;
    opacity: 0.5;
  }
  .bouncer div {
    width: 20px;
    height: 20px;
    background-color: #2dd4bf;
    border-radius: 50%;
    animation: bouncer 0.3s cubic-bezier(.19,.57,.3,.98) infinite alternate;
  }
  .bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
  }
  .bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
  }
  @keyframes spin {
    to {transform: rotate(360deg);}
  }
  @keyframes bouncer {
    from { transform: translateY(0);}
    to { transform: translateY(-30px);}
  }
}